body {
    background-color: #424242;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlebar {
    background-color: #f14132;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 70px 70px;
}

.titlebar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
