body {
    background-color: #ccff99;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
