body {
    background-color: #424242;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlebar {
    background-color: #f14132;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 70px 70px;
}

.titlebar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.on-btn {
    margin-top: 80px;
    background-color: 9CFF83;
    font-weight: 600;
    font: Rubik;
    font-size: 20px;
    text-align: right;
    padding-right: 60px;
    border-radius: 24px;
    width: 250px;
    height: 75px;
}

.dangerzone {
    background-color: f14132;
    position: fixed;
    top: 320;
    left: 0;
    width: 100%;
    height: 5px;
}

.red {
    color: f14132;
}

.grey {
    color: #424242;
}
