<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KillswitchPie</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>

    <div class="titlebar">
        <img
            src="static/images/titlebar.png"
            alt="KillswitchPie"
            class="titlebar-img"
            height="50px"
        />
    </div>

    <body>
        <button
            type="button"
            class="btn"
            style="background-color: 9CFF83; margin-top: 80px"
        >
            <img class="btn-img" src="static/images/icons/power.png" />
            <div class="btn-div">
                <p>Power On</p>
            </div>
        </button>

        <div class="dangerzone">
            <p class="red">DANGER ZONE</p>
            <p class="grey">.</p>

            <button
                type="button"
                class="btn"
                style="background-color: f14123; margin-top: 50px"
            >
                <img class="btn-img" src="static/images/icons/poweroff.png" />
                <div class="btn-div">
                    <p>Power Off</p>
                </div>
            </button>

            <div>
                <button
                    type="button"
                    class="btn"
                    style="background-color: 33ccff; margin-top: 50px"
                >
                    <img class="btn-img" src="static/images/icons/reboot.png" />
                    <div class="btn-div">
                        <p>Reboot</p>
                    </div>
                </button>
            </div>
        </div>
    </body>
</html>
